*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  display: block;
}


.container {
  background-color: #DADADA;
  border: 1px;
  margin: 0 auto;
  width: 420px;
  height: 700px;
}

nav {
  background-color: #000;
  margin: 0 auto;
  top: 0;
  padding: 15px;
  position: fixed;
  width: 420px;
  display: block;
}

.restaurant-list {
  border: 1px;
  width: 100%;
  margin-top: 50px;
}

.arrow {
  position: absolute;
  padding-left: 90%;
  right: 3%;
  top: 50%;
  /* margin-top: -10px; */
  transform: translateY(-50%);
  /* justify-content: flex-end; */
  /* vertical-align: top; */
}

.content {
  width: 100%;
  padding: 2%;
}

.content h1 {
  font-size: 16px;
  font-weight: bold;
}

.content h3 {
  font-size: 12px;
}

.location {
  position: relative;
  border-bottom: 1px solid gray;
  margin: 0 auto;
  padding: 3% 3%;
  /* display: flex; */
}

.location:hover {
  background-color: #6E6E6E;
}
